Repository Wasgehtab97/tapem, changes with the owners that .github/CODEOWNERS names for each.
All owners: @frontend-dev1, @frontend-dev2, @backend-dev, @devops-engineer, @product-owner

.github/CODEOWNERS:

# CODEOWNERS: legt Reviewer f√ºr bestimmte Pfade fest

# Frontend-Team (UI-Komponenten)
/lib/features/ui/       @frontend-dev1 @frontend-dev2

# Backend-Team (Admin-Features & Core-Logic)
/lib/features/admin/    @backend-dev
/lib/core/providers/    @backend-dev

# DevOps (Build-Skripte, CI/CD)
/.github/workflows/     @devops-engineer

# Dokumentation & Guidelines
/docs/Development_Guidelines.md @product-owner
/.github/PULL_REQUEST_TEMPLATE.md @product-owner

newest push
  .github/workflows/gitleaks.yml
Owners: @devops-engineer

security: add Firestore and Storage rules v1
  .github/workflows/ci.yml
  docs/security_rules_v1.md
  firebase.json
  firestore-tests/security_rules.test.js
  firestore.rules
  lib/features/auth/data/sources/firestore_auth_source.dart
  package.json
  storage.rules
Owners: @devops-engineer

feat: add survey CTA and device id display
  lib/features/device/presentation/screens/device_screen.dart
  lib/features/gym/presentation/screens/gym_screen.dart
  lib/features/gym/presentation/widgets/device_card.dart
  lib/features/profile/presentation/screens/profile_screen.dart
Owners: none

feat(device): add session sets table under feature flag
  docs/ui.md
  lib/core/feature_flags.dart
  lib/features/device/presentation/screens/device_screen.dart
  lib/features/device/presentation/widgets/session_sets_table.dart
  test/widgets/session_sets_table_test.dart
Owners: none

feat: add runtime feature flag service
  docs/ui.md
  lib/core/feature_flags.dart
  lib/features/device/presentation/screens/device_screen.dart
  lib/main.dart
  pubspec.yaml
Owners: none

feat(flags): add runtime feature flags service
  docs/ui.md
  lib/core/feature_flags.dart
  lib/main.dart
Owners: none

Make Firebase bootstrap idempotent
  docs/ui.md
  lib/main.dart
Owners: none

fix: import kDebugMode
  lib/main.dart
Owners: none

refactor: scope firebase app
  android/app/src/main/AndroidManifest.xml
  lib/core/providers/auth_provider.dart
  lib/core/providers/gym_provider.dart
  lib/core/providers/training_details_provider.dart
  lib/features/admin/presentation/screens/admin_dashboard_screen.dart
  lib/features/admin/presentation/screens/challenge_admin_screen.dart
  lib/features/admin/presentation/widgets/device_list_item.dart
  lib/features/auth/domain/usecases/login.dart
  lib/features/auth/domain/usecases/register.dart
  lib/features/auth/presentation/screens/reset_password_screen.dart
  lib/features/nfc/data/nfc_service.dart
  lib/features/nfc/widgets/nfc_scan_button.dart
  lib/features/training_details/presentation/screens/training_details_screen.dart
  lib/features/xp/presentation/screens/day_xp_screen.dart
  lib/features/xp/presentation/screens/device_xp_screen.dart
  lib/main.dart
Owners: @backend-dev

refactor: inject firestore consistently
  lib/features/history/data/sources/firestore_history_source.dart
  lib/features/muscle_group/data/sources/firestore_muscle_group_source.dart
Owners: none

refactor: centralize Firebase init and inject instances
  lib/core/providers/auth_provider.dart
  lib/core/providers/challenge_provider.dart
  lib/core/providers/history_provider.dart
  lib/core/providers/muscle_group_provider.dart
  lib/core/providers/profile_provider.dart
  lib/core/providers/rank_provider.dart
  lib/core/providers/training_details_provider.dart
  lib/core/providers/training_plan_provider.dart
  lib/core/providers/xp_provider.dart
  lib/features/auth/data/repositories/auth_repository_impl.dart
  lib/features/auth/data/sources/firestore_auth_source.dart
  lib/features/auth/domain/usecases/check_username_available.dart
  lib/features/auth/domain/usecases/get_current_user.dart
  lib/features/auth/domain/usecases/login.dart
  lib/features/auth/domain/usecases/logout.dart
  lib/features/auth/domain/usecases/register.dart
  lib/features/auth/domain/usecases/reset_password.dart
  lib/features/auth/domain/usecases/set_show_in_leaderboard.dart
  lib/features/auth/domain/usecases/set_username.dart
  lib/features/auth/presentation/widgets/registration_form.dart
  lib/features/challenges/data/sources/firestore_challenge_source.dart
  lib/features/device/data/sources/firestore_device_source.dart
  lib/features/device/data/sources/firestore_exercise_source.dart
  lib/features/gym/data/sources/firestore_gym_source.dart
  lib/features/history/data/sources/firestore_history_source.dart
  lib/features/muscle_group/data/sources/firestore_muscle_group_source.dart
  lib/features/rank/data/sources/firestore_rank_source.dart
  lib/features/report/data/repositories/report_repository_impl.dart
  lib/features/report/data/sources/firestore_report_source.dart
  lib/features/training_details/data/sources/firestore_session_source.dart
  lib/features/training_plan/data/sources/firestore_training_plan_source.dart
  lib/features/xp/data/sources/firestore_xp_source.dart
  lib/main.dart
Owners: @backend-dev

refactor: move Remote Config defaults to feature flags
  lib/bootstrap/firebase_bootstrap.dart
  lib/core/feature_flags.dart
  lib/features/admin/presentation/screens/branding_screen.dart
  lib/main.dart
  test/firebase_bootstrap_test.dart
Owners: @backend-dev

feat: refactor device session sets
  lib/core/providers/device_provider.dart
  lib/features/device/presentation/screens/device_screen.dart
  lib/features/device/presentation/widgets/set_card.dart
  lib/features/feedback/presentation/widgets/feedback_button.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_localizations.dart
  lib/l10n/app_localizations_de.dart
  lib/l10n/app_localizations_en.dart
  test/providers/device_provider_test.dart
  test/widgets/set_card_test.dart
Owners: @backend-dev

fix(device): remove redundant null check and update tests
  lib/features/device/presentation/widgets/set_card.dart
  test/widgets/set_card_test.dart
Owners: none

Add widget test for swipe-to-delete
  lib/core/providers/device_provider.dart
  lib/features/device/presentation/screens/device_screen.dart
  lib/features/device/presentation/widgets/set_card.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_localizations.dart
  lib/l10n/app_localizations_de.dart
  lib/l10n/app_localizations_en.dart
  test/providers/device_provider_test.dart
  test/widgets/dismissible_session_list_test.dart
Owners: @backend-dev

newest push
  ios/Podfile.lock
  lib/l10n/app_localizations.dart
Owners: none

Add widget test for swipe-to-delete
  lib/core/providers/device_provider.dart
  lib/features/device/presentation/screens/device_screen.dart
  lib/features/device/presentation/widgets/set_card.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_localizations.dart
  lib/l10n/app_localizations_de.dart
  lib/l10n/app_localizations_en.dart
  test/providers/device_provider_test.dart
  test/widgets/dismissible_session_list_test.dart
Owners: @backend-dev

feat(device): add daily dedupe index and save state
  README.md
  firestore.indexes.json
  lib/core/providers/device_provider.dart
  lib/features/device/presentation/screens/device_screen.dart
  lib/features/gym/presentation/widgets/device_card.dart
  test/providers/device_provider_test.dart
Owners: @backend-dev

feat: improve multi-device workouts
  lib/core/providers/exercise_provider.dart
  lib/features/device/data/repositories/exercise_repository_impl.dart
  lib/features/device/data/sources/firestore_exercise_source.dart
  lib/features/device/domain/repositories/exercise_repository.dart
  lib/features/device/domain/usecases/update_exercise_usecase.dart
  lib/features/device/presentation/screens/device_screen.dart
  lib/features/device/presentation/screens/exercise_list_screen.dart
  lib/features/device/presentation/widgets/exercise_bottom_sheet.dart
  lib/features/device/presentation/widgets/exercise_header.dart
  lib/features/device/presentation/widgets/multi_device_banner.dart
  lib/features/device/presentation/widgets/muscle_chips.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/main.dart
Owners: @backend-dev

fix(l10n): add multi-device translations
  lib/core/providers/device_provider.dart
  lib/features/device/presentation/screens/device_screen.dart
  lib/l10n/app_localizations.dart
  lib/l10n/app_localizations_de.dart
  lib/l10n/app_localizations_en.dart
Owners: @backend-dev

feat: add camelCase multi-device localization
  lib/features/device/presentation/screens/device_screen.dart
  lib/features/device/presentation/screens/exercise_list_screen.dart
  lib/features/device/presentation/widgets/exercise_bottom_sheet.dart
  lib/features/device/presentation/widgets/exercise_header.dart
  lib/features/device/presentation/widgets/multi_device_banner.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_localizations.dart
  lib/l10n/app_localizations_de.dart
  lib/l10n/app_localizations_en.dart
Owners: none

chore: refine multi-device i18n
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_localizations_de.dart
  lib/l10n/app_localizations_en.dart
Owners: none

feat: add muscle group selector list
  lib/features/device/presentation/widgets/exercise_bottom_sheet.dart
  lib/features/device/presentation/widgets/muscle_group_selector_list.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_localizations.dart
  lib/l10n/app_localizations_de.dart
  lib/l10n/app_localizations_en.dart
Owners: none

feat(ui): align exercise muscle-group selection with admin implementation
  docs/tech_note_muscle_groups.md
  lib/features/device/presentation/widgets/exercise_bottom_sheet.dart
  lib/features/device/presentation/widgets/muscle_chips.dart
  lib/features/device/presentation/widgets/muscle_group_selector_list.dart
  lib/features/muscle_group/presentation/widgets/muscle_group_color.dart
  lib/features/muscle_group/presentation/widgets/muscle_group_label_chip.dart
  lib/features/muscle_group/presentation/widgets/muscle_group_selector.dart
  test/widgets/muscle_group_selector_test.dart
Owners: none

docs: add muscle group unification note
  docs/tech-notes/muscle-group-unification.md
Owners: none

refactor: share muscle group components
  docs/tech-notes/add-exercise-ui-rebuilt.md
  lib/features/device/presentation/widgets/exercise_bottom_sheet.dart
  lib/features/device/presentation/widgets/muscle_chips.dart
  lib/features/device/presentation/widgets/muscle_group_card.dart
  lib/ui/muscles/muscle_group_card.dart
  lib/ui/muscles/muscle_group_color.dart
  lib/ui/muscles/muscle_group_selector.dart
  test/widgets/muscle_group_selector_test.dart
Owners: none

feat(exercise): preview selected muscle groups
  lib/features/device/presentation/widgets/exercise_bottom_sheet.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_localizations.dart
  lib/l10n/app_localizations_de.dart
  lib/l10n/app_localizations_en.dart
  lib/ui/muscles/muscle_group_card.dart
  lib/ui/muscles/muscle_group_selector.dart
  test/widgets/exercise_bottom_sheet_selected_preview_test.dart
Owners: none

feat: show selected muscle group names
  lib/features/device/presentation/widgets/exercise_bottom_sheet.dart
  lib/ui/muscles/muscle_group_selector.dart
Owners: none

Show selected muscle groups with names
  lib/features/device/presentation/widgets/exercise_bottom_sheet.dart
  lib/ui/muscles/muscle_group_selector.dart
Owners: none

feat: add list-based muscle group selector
  lib/features/device/presentation/widgets/exercise_bottom_sheet.dart
  lib/ui/muscles/muscle_group_list_selector.dart
  test/widgets/muscle_group_list_selector_test.dart
Owners: none

Show muscle group names with region fallback
  lib/features/device/presentation/widgets/exercise_bottom_sheet.dart
  lib/ui/muscles/muscle_group_list_selector.dart
  test/widgets/muscle_group_list_selector_text_test.dart
Owners: none

test: verify muscle group selector dedup and primary
  lib/features/device/presentation/widgets/exercise_bottom_sheet.dart
  lib/ui/muscles/muscle_group_list_selector.dart
  test/widgets/muscle_group_list_selector_dedup_primary_test.dart
Owners: none

feat: multi muscle group selector with primary secondary
  lib/core/providers/muscle_group_provider.dart
  lib/features/device/presentation/widgets/exercise_bottom_sheet.dart
  lib/ui/muscles/muscle_group_list_selector.dart
  test/widgets/muscle_group_list_selector_primary_secondary_test.dart
Owners: @backend-dev

feat(timer): replace circular timer with top bar
  lib/features/device/presentation/screens/device_screen.dart
  lib/features/device/presentation/widgets/rest_timer_widget.dart
  lib/ui/timer/session_timer_bar.dart
  lib/ui/timer/session_timer_controller.dart
  test/ui/timer/session_timer_bar_test.dart
Owners: none

refactor: redesign gym page
  lib/features/gym/presentation/screens/gym_screen.dart
  lib/ui/common/search_and_filters.dart
  lib/ui/devices/device_card.dart
  test/ui/gym/device_card_test.dart
  test/ui/gym/search_and_filters_test.dart
Owners: none

feat: revamp muscle group admin UI
  lib/features/muscle_group/presentation/screens/muscle_group_admin_screen.dart
  lib/features/muscle_group/presentation/widgets/device_muscle_assignment_sheet.dart
  lib/ui/devices/device_card.dart
  test/ui/muscle_groups/admin_list_filters_test.dart
  test/ui/muscle_groups/assignment_sheet_test.dart
Owners: none

feat(device): enable card navigation and assignment selection
  lib/features/gym/presentation/screens/gym_screen.dart
  lib/features/muscle_group/presentation/widgets/device_muscle_assignment_sheet.dart
  lib/ui/devices/device_card.dart
Owners: none

Use device uid for navigation
  lib/features/gym/presentation/screens/gym_screen.dart
  lib/features/nfc/widgets/global_nfc_listener.dart
  lib/features/nfc/widgets/nfc_scan_button.dart
Owners: none

feat: show muscle group chips and patch devices
  lib/core/providers/device_provider.dart
  lib/core/providers/gym_provider.dart
  lib/core/providers/muscle_group_provider.dart
  lib/features/device/presentation/widgets/muscle_chips.dart
  lib/features/muscle_group/presentation/screens/muscle_group_admin_screen.dart
  lib/features/muscle_group/presentation/widgets/device_muscle_assignment_sheet.dart
  lib/ui/devices/device_card.dart
  test/providers/device_provider_test.dart
  test/ui/gym/device_card_test.dart
Owners: @backend-dev

fix muscle chips usage
  lib/features/device/presentation/screens/exercise_list_screen.dart
  lib/features/device/presentation/widgets/exercise_header.dart
Owners: none
