Repository Wasgehtab97/tapem, changes with the owners that .github/CODEOWNERS names for each.
All owners: @frontend-dev1, @frontend-dev2, @backend-dev, @devops-engineer, @product-owner

.github/CODEOWNERS:

# CODEOWNERS: legt Reviewer f√ºr bestimmte Pfade fest

# Frontend-Team (UI-Komponenten)
/lib/features/ui/       @frontend-dev1 @frontend-dev2

# Backend-Team (Admin-Features & Core-Logic)
/lib/features/admin/    @backend-dev
/lib/core/providers/    @backend-dev

# DevOps (Build-Skripte, CI/CD)
/.github/workflows/     @devops-engineer

# Dokumentation & Guidelines
/docs/Development_Guidelines.md @product-owner
/.github/PULL_REQUEST_TEMPLATE.md @product-owner

refactor: reduce firestore reads for secondary features
  lib/core/providers/challenge_provider.dart
  lib/core/providers/rank_provider.dart
  lib/features/challenges/data/repositories/challenge_repository_impl.dart
  lib/features/challenges/data/sources/firestore_challenge_source.dart
  lib/features/challenges/domain/repositories/challenge_repository.dart
  lib/features/rank/data/repositories/rank_repository_impl.dart
  lib/features/rank/data/sources/firestore_rank_source.dart
  lib/features/rank/domain/rank_repository.dart
  lib/features/survey/survey_provider.dart
  lib/features/xp/data/sources/firestore_xp_source.dart
  test/providers/challenge_provider_additional_test.dart
  test/providers/device_provider_test.dart
  test/providers/rank_provider_test.dart
Owners: @backend-dev

Reduce high-volume Firestore reads and add logging
  lib/core/logging/firestore_read_logger.dart
  lib/features/admin/presentation/screens/admin_symbols_screen.dart
  lib/features/profile/presentation/providers/powerlifting_provider.dart
  lib/features/rank/data/sources/firestore_rank_source.dart
  lib/features/xp/data/sources/firestore_xp_source.dart
Owners: @backend-dev

Fix powerlifting record logging discipline reference
  lib/features/profile/presentation/providers/powerlifting_provider.dart
Owners: none

Reduce redundant XP provider fetches
  lib/core/providers/xp_provider.dart
Owners: @backend-dev

Reduce Firestore reads with repository-level caching
  lib/core/providers/xp_provider.dart
  lib/features/xp/data/repositories/xp_repository_impl.dart
  lib/features/xp/data/sources/firestore_xp_source.dart
  lib/features/xp/domain/xp_repository.dart
  test/providers/device_provider_test.dart
  test/providers/xp_provider_test.dart
Owners: @backend-dev

Optimize Firestore access patterns
  lib/core/providers/xp_provider.dart
  lib/features/admin/presentation/screens/user_symbols_screen.dart
  lib/features/avatars/presentation/providers/avatar_inventory_provider.dart
  lib/features/friends/data/friends_source.dart
  lib/features/friends/data/user_search_source.dart
  lib/features/friends/providers/friend_search_provider.dart
  lib/features/friends/providers/friends_provider.dart
  lib/features/profile/presentation/screens/profile_screen.dart
  test/features/profile/profile_screen_test.dart
Owners: @backend-dev

Reduce Firestore reads with cached fetchers
  lib/features/avatars/domain/services/avatar_equip_service.dart
  lib/features/avatars/presentation/providers/avatar_inventory_provider.dart
  lib/features/friends/data/friend_chat_source.dart
  lib/features/friends/data/friends_source.dart
  lib/features/friends/data/user_search_source.dart
  lib/features/friends/presentation/screens/friend_chat_screen.dart
  lib/features/friends/providers/friend_chat_messages_provider.dart
  lib/features/friends/providers/friend_chat_summary_provider.dart
  lib/features/friends/providers/friend_search_provider.dart
  lib/features/friends/providers/friends_provider.dart
  test/features/profile/profile_screen_test.dart
Owners: none

fix: add firestore import for profile timestamp
  lib/features/profile/presentation/screens/profile_screen.dart
Owners: none

Reduce Firestore reads for calendars, powerlifting, and XP
  lib/core/providers/xp_provider.dart
  lib/features/admin/presentation/screens/user_symbols_screen.dart
  lib/features/friends/presentation/screens/friend_training_calendar_screen.dart
  lib/features/friends/providers/friend_calendar_provider.dart
  lib/features/friends/providers/friend_presence_provider.dart
  lib/features/profile/domain/models/powerlifting_assignment.dart
  lib/features/profile/presentation/providers/powerlifting_provider.dart
  lib/features/xp/data/repositories/xp_repository_impl.dart
  lib/features/xp/data/sources/firestore_xp_source.dart
  lib/features/xp/domain/xp_paged_result.dart
  lib/features/xp/domain/xp_repository.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_localizations_de.dart
  lib/l10n/app_localizations_en.dart
  tool/firestore_query_audit.sh
Owners: @backend-dev

Reduce background Firestore polling and add presence aggregation
  functions/index.js
  functions/presence.js
  lib/core/providers/xp_provider.dart
  lib/features/friends/presentation/screens/friend_chat_screen.dart
  lib/features/friends/presentation/screens/friends_home_screen.dart
  lib/features/friends/providers/friend_calendar_provider.dart
  lib/features/friends/providers/friend_chat_messages_provider.dart
  lib/features/friends/providers/friend_chat_summary_provider.dart
  lib/features/friends/providers/friend_presence_provider.dart
  lib/features/profile/presentation/providers/powerlifting_provider.dart
  lib/features/profile/presentation/screens/profile_screen.dart
  lib/features/xp/data/repositories/xp_repository_impl.dart
  lib/features/xp/data/sources/firestore_xp_source.dart
  lib/features/xp/domain/xp_limits.dart
  lib/features/xp/domain/xp_repository.dart
  lib/main.dart
  test/features/friends/providers/friend_presence_provider_test.dart
  test/providers/device_provider_test.dart
  test/providers/xp_provider_test.dart
Owners: @backend-dev

fix: observe route lifecycle for friend visibility
  lib/app_router.dart
  lib/features/friends/presentation/screens/friend_chat_screen.dart
  lib/features/friends/presentation/screens/friends_home_screen.dart
  lib/features/profile/presentation/screens/profile_screen.dart
  lib/main.dart
Owners: none

Remove RouteAware overrides from profile action button
  lib/features/profile/presentation/screens/profile_screen.dart
Owners: none

feat: cache training summaries and remove log fanout
  .github/workflows/ci.yml
  functions/index.js
  functions/presence.js
  functions/training-summary.js
  lib/core/models/favorite_exercise_usage.dart
  lib/core/providers/profile_provider.dart
  lib/core/services/training_summary_service.dart
  lib/core/services/workout_session_duration_service.dart
  lib/features/challenges/data/sources/firestore_challenge_source.dart
  lib/features/profile/presentation/screens/profile_stats_screen.dart
  lib/features/training_details/data/sources/firestore_session_source.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_localizations.dart
  lib/l10n/app_localizations_de.dart
  lib/l10n/app_localizations_en.dart
  test/core/services/training_summary_service_test.dart
  website/src/server/admin/dashboard-data.ts
Owners: @devops-engineer, @backend-dev

Add Firestore rules for training summaries
  firestore.rules
Owners: none

Refactor stats loading to use summary services and caching
  lib/core/providers/muscle_group_provider.dart
  lib/core/providers/profile_provider.dart
  lib/core/providers/report_provider.dart
  lib/core/services/device_usage_summary_service.dart
  lib/core/services/training_summary_service.dart
  lib/features/home/presentation/screens/home_screen.dart
  lib/features/profile/presentation/screens/profile_stats_screen.dart
  lib/features/report/data/repositories/report_repository_impl.dart
  lib/features/report/data/sources/firestore_report_source.dart
  lib/features/report/domain/models/device_usage_range.dart
  lib/features/report/domain/models/device_usage_stat.dart
  lib/features/report/domain/repositories/report_repository.dart
  lib/features/report/domain/usecases/get_all_log_timestamps.dart
  lib/features/report/domain/usecases/get_device_usage_stats.dart
  lib/features/report/presentation/screens/report_screen_new.dart
  lib/features/report/presentation/widgets/device_usage_chart.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_localizations.dart
  lib/l10n/app_localizations_de.dart
  lib/l10n/app_localizations_en.dart
  test/services/device_usage_summary_service_test.dart
  test/services/training_summary_service_test.dart
  test/usecases/report_usecases_test.dart
  test/widgets/report_screen_test.dart
  tool/firestore_query_audit.sh
Owners: @backend-dev

Expose device usage summary range constants
  lib/core/services/device_usage_summary_service.dart
Owners: none

feat(functions): add summary backfill utilities
  functions/index.js
  functions/training-summary.js
Owners: none

feat(functions): add resumable backfill handlers
  functions/training-summary.js
Owners: none

feat: cache summaries and device usage with hive
  lib/core/services/device_usage_summary_service.dart
  lib/core/services/training_summary_service.dart
  lib/features/training_details/data/sources/firestore_session_source.dart
  lib/main.dart
  pubspec.yaml
Owners: none

Refactor profile stats and report providers to summary services
  lib/core/providers/profile_provider.dart
  lib/core/providers/report_provider.dart
  lib/features/profile/presentation/screens/profile_stats_screen.dart
  lib/features/report/presentation/screens/report_screen_new.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_localizations.dart
  lib/l10n/app_localizations_de.dart
  lib/l10n/app_localizations_en.dart
Owners: @backend-dev

Update muscle group counts to use summary service cache
  lib/core/providers/muscle_group_provider.dart
Owners: @backend-dev

test: add Firestore rules coverage
  .github/workflows/firestore-rules.yml
  __tests__/rules.test.js
  package.json
Owners: @devops-engineer

Add Firestore summary caching tests and audit workflow
  .github/workflows/flutter-tests.yml
  scripts/firestore_query_audit.sh
  test/device_usage_summary_service_test.dart
  test/firestore_session_source_pagination_test.dart
  test/training_summary_service_test.dart
Owners: @devops-engineer

Update report provider wiring for new services
  lib/main.dart
  test/widgets/report_screen_test.dart
Owners: none

Refactor report provider to use domain use cases
  lib/core/providers/report_provider.dart
Owners: @backend-dev

feat: add training summary backfill pipeline
  .github/workflows/functions-backfill.yml
  functions/.gitignore
  functions/__tests__/backfill.test.ts
  functions/index.js
  functions/package.json
  functions/src/backfill/build.ts
  functions/src/backfill/index.ts
  functions/src/backfill/report.ts
  functions/src/backfill/runtime.ts
  functions/src/backfill/scan.ts
  functions/src/backfill/types.ts
  functions/src/backfill/write.ts
  functions/tsconfig.json
Owners: @devops-engineer

newest push
  docs/jira/epics.csv
  docs/jira/stories.csv
  functions/dist/__tests__/backfill.test.js
  functions/dist/src/backfill/build.js
  functions/dist/src/backfill/index.js
  functions/dist/src/backfill/report.js
  functions/dist/src/backfill/runtime.js
  functions/dist/src/backfill/scan.js
  functions/dist/src/backfill/types.js
  functions/dist/src/backfill/write.js
  functions/package-lock.json
  lib/l10n/app_localizations.dart
  lib/l10n/app_localizations_de.dart
  lib/l10n/app_localizations_en.dart
  pubspec.lock
  scripts/setAdmin.js
Owners: none

newest push
  package-lock.json
  package.json
  scripts/runBackfill.js
  scripts/setAdmin.js
Owners: none

chore: set functions node engine to 16
  functions/package.json
Owners: none

feat: target first-gen firebase functions runtime
  docs/environment-setup.md
  functions/activity.js
  functions/avatars.js
  functions/dist/src/backfill/index.js
  functions/index.js
  functions/package.json
  functions/presence.js
  functions/training-summary.js
  functions/xp.js
Owners: none

fix: pin firebase functions deploy to gcfv1
  docs/environment-setup.md
  firebase.json
  functions/activity.js
  functions/avatars.js
  functions/dist/src/backfill/index.js
  functions/index.js
  functions/package.json
  functions/presence.js
  functions/training-summary.js
  functions/xp.js
Owners: none

feat: cache profile training data reads
  lib/core/models/favorite_exercise_usage.dart
  lib/core/providers/profile_provider.dart
  lib/core/storage/profile_cache_store.dart
Owners: @backend-dev

Persist incremental profile stats cache
  lib/core/providers/profile_provider.dart
  lib/core/storage/profile_cache_store.dart
  lib/features/profile/domain/models/favorite_exercise_usage.dart
Owners: @backend-dev

Reduce friend badge listeners to minimize restart reads
  lib/features/friends/presentation/screens/friends_home_screen.dart
  lib/features/friends/providers/friend_alerts_provider.dart
  lib/features/profile/presentation/screens/profile_screen.dart
  lib/main.dart
  test/features/profile/profile_screen_test.dart
Owners: none

Implement cached daily XP loading to reduce Firestore reads
  lib/core/providers/xp_provider.dart
  lib/core/storage/daily_stats_cache_store.dart
  lib/features/xp/data/repositories/xp_repository_impl.dart
  lib/features/xp/data/sources/firestore_xp_source.dart
  lib/features/xp/domain/xp_repository.dart
  test/providers/device_provider_test.dart
  test/providers/xp_provider_test.dart
Owners: @backend-dev

Refactor profile stats loading to reduce Firestore reads
  lib/core/providers/profile_provider.dart
  lib/features/profile/presentation/screens/profile_stats_screen.dart
Owners: @backend-dev

Optimize profile and report data loading
  lib/core/providers/profile_provider.dart
  lib/core/providers/report_provider.dart
  lib/core/storage/profile_cache_store.dart
  lib/features/home/presentation/screens/home_screen.dart
  lib/features/profile/presentation/screens/profile_screen.dart
  lib/features/profile/presentation/screens/profile_stats_screen.dart
  lib/features/report/data/repositories/report_repository_impl.dart
  lib/features/report/data/sources/firestore_report_source.dart
  lib/features/report/domain/models/device_usage_range.dart
  lib/features/report/domain/repositories/report_repository.dart
  lib/features/report/domain/usecases/get_device_usage_stats.dart
  lib/features/report/presentation/widgets/device_usage_chart.dart
  test/features/profile/profile_screen_test.dart
  test/usecases/report_usecases_test.dart
  test/widgets/report_screen_test.dart
Owners: @backend-dev

Delay report loading until tab opened
  lib/core/providers/report_provider.dart
  lib/features/home/presentation/screens/home_screen.dart
  lib/features/report/presentation/screens/report_screen_new.dart
Owners: @backend-dev

Limit report log queries and defer XP fetches to stream
  lib/core/providers/report_provider.dart
  lib/core/providers/xp_provider.dart
  lib/features/report/data/repositories/report_repository_impl.dart
  lib/features/report/domain/repositories/report_repository.dart
  lib/features/report/domain/usecases/get_all_log_timestamps.dart
  test/providers/xp_provider_test.dart
  test/usecases/report_usecases_test.dart
  test/widgets/report_screen_test.dart
Owners: @backend-dev

Use Firestore cache before refreshing training sessions
  lib/core/providers/training_details_provider.dart
  lib/features/training_details/data/repositories/session_repository_impl.dart
  lib/features/training_details/data/session_meta_source.dart
  lib/features/training_details/data/sources/firestore_session_source.dart
  lib/features/training_details/domain/repositories/session_repository.dart
  lib/features/training_details/domain/usecases/get_sessions_for_date.dart
Owners: @backend-dev
