Repository Wasgehtab97/tapem, changes with the owners that .github/CODEOWNERS names for each.
All owners: @frontend-dev1, @frontend-dev2, @backend-dev, @devops-engineer, @product-owner

chore(logs): debug prints + retry after ensureMembership
  MIGRATION.md
  firestore.rules
  lib/core/providers/branding_provider.dart
  lib/core/providers/device_provider.dart
  lib/core/providers/muscle_group_provider.dart
  lib/core/providers/report_provider.dart
  lib/core/services/membership_service.dart
  lib/features/device/data/repositories/device_repository_impl.dart
  lib/features/device/data/sources/firestore_device_source.dart
  lib/features/device/presentation/screens/device_screen.dart
  lib/features/home/presentation/screens/home_screen.dart
  lib/features/report/data/repositories/report_repository_impl.dart
  lib/features/report/data/sources/firestore_report_source.dart
  lib/features/report/domain/repositories/report_repository.dart
  lib/features/report/domain/usecases/get_all_log_timestamps.dart
  lib/features/report/domain/usecases/get_device_usage_stats.dart
  test/usecases/report_usecases_test.dart
  test/widgets/report_screen_test.dart
Owners: @backend-dev

Allow self-service gym membership
  firestore-tests/security_rules.test.js
  firestore.rules
  lib/features/auth/data/sources/firestore_auth_source.dart
Owners: none

chore: add membership service
  MIGRATION.md
  firestore.rules
  lib/core/providers/branding_provider.dart
  lib/core/providers/device_provider.dart
  lib/core/providers/muscle_group_provider.dart
  lib/features/muscle_group/presentation/screens/muscle_group_admin_screen.dart
  lib/features/nfc/widgets/nfc_scan_button.dart
  lib/features/training_plan/presentation/widgets/device_selection_dialog.dart
  lib/main.dart
  lib/services/membership_service.dart
  test/providers/branding_provider_test.dart
  test/providers/device_provider_test.dart
  test/ui/muscle_groups/admin_list_filters_test.dart
  test/widgets/device_pager_test.dart
  test/widgets/dismissible_session_list_test.dart
  test/widgets/set_card_test.dart
Owners: @backend-dev

fix provider setup and cleanup warnings
  lib/core/providers/device_provider.dart
  lib/features/device/presentation/screens/device_screen.dart
  lib/main.dart
Owners: @backend-dev

feat: enhance exercise list management
  lib/features/device/presentation/screens/exercise_list_screen.dart
  lib/features/muscle_group/presentation/widgets/device_muscle_assignment_sheet.dart
  lib/ui/muscles/muscle_group_card.dart
  lib/ui/muscles/muscle_group_color.dart
  lib/ui/muscles/muscle_group_list_selector.dart
  lib/ui/muscles/muscle_group_selector.dart
Owners: none

Configure Firebase, App Check, and FCM notifications in AppDelegate for iOS
  ios/Runner/AppDelegate.swift
Owners: none

feat(ios): prepare testflight build
  .github/workflows/ios_testflight.yml
  docs/ios_distribution.md
  ios/ExportOptions.plist
  ios/Podfile
  ios/Runner.xcodeproj/project.pbxproj
  ios/Runner/AppDelegate.swift
  ios/Runner/GoogleService-Info.plist
  ios/Runner/Info.plist
  ios/Runner/Runner.entitlements
  lib/firebase_options.dart
Owners: @devops-engineer

newest push
  $null
  Makefile
  android/app/build.gradle.kts
  android/app/proguard-rules.pro
  android/settings.gradle.kts
  docs/keys/Keystore.png
  lib/l10n/app_localizations.dart
  pubspec.lock
  scripts/adminCheck.js
  scripts/setAdmin.js
Owners: none

newest push
  pubspec.lock
Owners: none

chore: prepare iOS app for TestFlight
  .github/workflows/ios_testflight.yml
  .gitignore
  docs/ios_distribution.md
  ios/ExportOptions.plist
  ios/Podfile
  ios/Runner.xcodeproj/project.pbxproj
  ios/Runner/AppDelegate.swift
  ios/Runner/GoogleService-Info.plist
  ios/Runner/Info.plist
  ios/Runner/Runner.entitlements
  lib/firebase_options.dart
Owners: @devops-engineer

Fix decimal weight parsing in session snapshots
  lib/core/providers/device_provider.dart
  test/providers/device_provider_test.dart
Owners: @backend-dev

newest push
  Makefile
  ios/Flutter/Debug.xcconfig
  ios/Flutter/Debug.xcconfig.bak
  ios/Flutter/Profile.xcconfig
  ios/Flutter/Profile.xcconfig.bak
  ios/Flutter/Release.xcconfig
  ios/Flutter/Release.xcconfig.bak
  ios/Podfile
  ios/Podfile.lock
  ios/Runner.xcodeproj/project.pbxproj
  ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  ios/Runner/AppDelegate.swift
  ios/Runner/Base.lproj/Main.storyboard
  ios/Runner/GoogleService-Info.plist
  ios/Runner/Runner.entitlements
  lib/main.dart
  macos/Flutter/GeneratedPluginRegistrant.swift
  pubspec.lock
  pubspec.yaml
Owners: none

newest push
  lib/core/providers/device_provider.dart
Owners: @backend-dev

feat(functions): add friend request callables
  functions/index.js
Owners: none

feat: enhance friend functions and security
  firestore-tests/security_rules.test.js
  firestore.indexes.json
  firestore.rules
  functions/__tests__/friends.test.js
  functions/index.js
  functions/package.json
Owners: none

feat: add basic friends feature scaffolding
  lib/app_router.dart
  lib/features/friends/data/friends_api.dart
  lib/features/friends/data/friends_source.dart
  lib/features/friends/data/public_calendar_source.dart
  lib/features/friends/data/public_profile_source.dart
  lib/features/friends/domain/models/friend.dart
  lib/features/friends/domain/models/friend_request.dart
  lib/features/friends/domain/models/month_calendar.dart
  lib/features/friends/domain/models/public_profile.dart
  lib/features/friends/presentation/screens/friend_detail_screen.dart
  lib/features/friends/presentation/screens/friends_home_screen.dart
  lib/features/friends/providers/friend_calendar_provider.dart
  lib/features/friends/providers/friends_provider.dart
  lib/features/profile/presentation/screens/profile_screen.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/main.dart
  pubspec.yaml
Owners: none

fix: resolve lint warnings
  lib/features/friends/presentation/screens/friend_detail_screen.dart
  lib/features/profile/presentation/screens/profile_screen.dart
  lib/main.dart
  lib/ui/muscles/muscle_group_card.dart
Owners: none

newest push
  firestore.rules
  ios/Podfile.lock
  ios/Runner.xcodeproj/project.pbxproj
  lib/l10n/app_localizations.dart
  lib/l10n/app_localizations_de.dart
  lib/l10n/app_localizations_en.dart
  lib/main.dart
  macos/Flutter/GeneratedPluginRegistrant.swift
  pubspec.lock
Owners: none

feat: add friend search provider
  lib/features/friends/data/friends_source.dart
  lib/features/friends/presentation/screens/friends_home_screen.dart
  lib/features/friends/providers/friend_search_provider.dart
  lib/features/friends/providers/friends_provider.dart
  lib/features/profile/presentation/screens/profile_screen.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_localizations.dart
  lib/l10n/app_localizations_de.dart
  lib/l10n/app_localizations_en.dart
  lib/main.dart
Owners: none

chore: log firebase project id
  docs/friend_search.md
  functions/__tests__/public_profile_mirror.test.js
  functions/index.js
  lib/features/friends/data/public_profile_source.dart
  lib/features/friends/presentation/screens/friends_home_screen.dart
  lib/features/friends/providers/friend_search_provider.dart
  lib/features/friends/providers/friends_provider.dart
  lib/main.dart
Owners: none

fix: normalize friend search query
  firestore-tests/security_rules.test.js
  firestore.rules
  lib/core/providers/auth_provider.dart
  lib/features/friends/data/public_profile_source.dart
  lib/features/friends/data/public_profile_sync_service.dart
Owners: @backend-dev

feat: search users by username
  README.md
  docs/friend_search.md
  firestore.indexes.json
  firestore.rules
  lib/core/providers/auth_provider.dart
  lib/features/auth/data/dtos/user_data_dto.dart
  lib/features/auth/data/repositories/auth_repository_impl.dart
  lib/features/auth/data/sources/firestore_auth_source.dart
  lib/features/auth/domain/models/user_data.dart
  lib/features/auth/domain/repositories/auth_repository.dart
  lib/features/auth/domain/usecases/set_public_profile.dart
  lib/features/friends/data/public_profile_source.dart
  lib/features/friends/data/public_profile_sync_service.dart
  lib/features/friends/data/user_search_source.dart
  lib/features/friends/presentation/screens/friend_detail_screen.dart
  lib/features/friends/providers/friend_search_provider.dart
  lib/features/profile/presentation/screens/profile_screen.dart
  lib/main.dart
Owners: @backend-dev

refactor: handle nullable user safely
  lib/core/providers/auth_provider.dart
  lib/features/profile/presentation/screens/profile_screen.dart
Owners: @backend-dev

fix: handle nullable bool in profile privacy dialog
  lib/features/profile/presentation/screens/profile_screen.dart
Owners: none

fix nullability issues in profile privacy settings
  lib/features/profile/presentation/screens/profile_screen.dart
Owners: none

refactor: move friends feature to client firestore
  README.md
  firestore.indexes.json
  firestore.rules
  lib/features/friends/data/friends_api.dart
  lib/features/friends/data/friends_source.dart
  lib/features/friends/presentation/screens/friends_home_screen.dart
  lib/features/friends/providers/friend_search_provider.dart
  lib/features/friends/providers/friends_provider.dart
Owners: none

refactor friends feature to firestore two phase accept
  firestore.indexes.json
  firestore.rules
  lib/features/friends/data/friends_api.dart
  lib/features/friends/data/friends_source.dart
  lib/features/friends/data/user_search_source.dart
  lib/features/friends/providers/friends_provider.dart
Owners: none

fix(friends): display usernames instead of IDs
  lib/features/friends/presentation/screens/friends_home_screen.dart
Owners: none

feat: add friend training calendar screen
  firestore.indexes.json
  firestore.rules
  lib/app_router.dart
  lib/features/friends/data/public_calendar_source.dart
  lib/features/friends/domain/models/month_calendar.dart
  lib/features/friends/presentation/screens/friend_detail_screen.dart
  lib/features/friends/presentation/screens/friend_training_calendar_screen.dart
  lib/features/friends/presentation/screens/friends_home_screen.dart
  lib/features/friends/providers/friend_calendar_provider.dart
  lib/features/profile/presentation/screens/profile_screen.dart
  lib/features/profile/presentation/widgets/calendar_popup.dart
  lib/features/training_details/presentation/screens/training_details_screen.dart
  lib/main.dart
Owners: none

fix(friends): handle profile fetch errors
  lib/features/friends/presentation/screens/friends_home_screen.dart
Owners: none

feat: restrict member tabs and guard routes
  lib/app_router.dart
  lib/core/config/feature_flags.dart
  lib/features/home/presentation/screens/home_screen.dart
Owners: none

fix: rename auth provider variable to avoid pattern conflict
  lib/app_router.dart
Owners: none

refactor: overhaul friends feature
  firestore.indexes.json
  firestore.rules
  lib/features/friends/data/friends_api.dart
  lib/features/friends/data/friends_source.dart
  lib/features/friends/domain/models/friend.dart
  lib/features/friends/presentation/screens/friends_home_screen.dart
  lib/features/friends/providers/friend_search_provider.dart
  lib/features/friends/providers/friends_provider.dart
Owners: none

refactor friends removal
  lib/features/friends/data/friends_api.dart
  lib/features/friends/presentation/screens/friends_home_screen.dart
  lib/features/friends/providers/friends_provider.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_localizations.dart
  lib/l10n/app_localizations_de.dart
  lib/l10n/app_localizations_en.dart
Owners: none

newest push
  docs/keys/Keystore Kopie.png
  firebase.json
  ios/Runner.xcodeproj/project.pbxproj
  lib/l10n/app_localizations_de.dart
  lib/l10n/app_localizations_en.dart
  lösen,
Owners: none

fix: handle duplicate Firebase app initialization
  lib/main.dart
Owners: none

feat(theme): add Club Aktiv branding
  lib/core/theme/app_brand_theme.dart
  lib/core/theme/design_tokens.dart
  lib/core/theme/theme.dart
  lib/core/theme/theme_loader.dart
  test/theme/theme_loader_test.dart
Owners: none

feat(theme): add contrast-aware brand on-colors
  lib/core/theme/brand_on_colors.dart
  lib/core/theme/contrast.dart
  lib/core/theme/theme_loader.dart
  lib/core/widgets/brand_gradient_card.dart
  lib/core/widgets/brand_primary_button.dart
  lib/features/device/presentation/widgets/set_card.dart
  lib/features/training_details/presentation/widgets/session_exercise_card.dart
  test/theme/contrast_test.dart
  test/ui/brand_widgets_test.dart
Owners: none

chore: guard chart intervals and gradient text
  lib/core/theme/contrast.dart
  lib/core/utils/chart_interval.dart
  lib/core/widgets/brand_action_tile.dart
  lib/features/report/presentation/screens/report_screen_new.dart
  lib/features/report/presentation/widgets/device_usage_chart.dart
  test/core/theme/contrast_utils_test.dart
  test/core/utils/chart_interval_test.dart
  test/ui/rank_tiles_test.dart
Owners: none

Force black foreground on brand surfaces
  lib/core/theme/theme_loader.dart
  lib/core/widgets/brand_action_tile.dart
  lib/core/widgets/brand_gradient_card.dart
  lib/core/widgets/brand_primary_button.dart
  lib/features/device/presentation/widgets/last_session_card.dart
  lib/features/gym/presentation/widgets/device_card.dart
  lib/features/training_details/presentation/widgets/session_exercise_card.dart
  lib/features/xp/presentation/widgets/xp_gauge.dart
  test/theme/theme_loader_test.dart
  test/ui/brand_widgets_test.dart
  test/ui/rank_tiles_test.dart
Owners: none

.github/CODEOWNERS:

# CODEOWNERS: legt Reviewer f√ºr bestimmte Pfade fest

# Frontend-Team (UI-Komponenten)
/lib/features/ui/       @frontend-dev1 @frontend-dev2

# Backend-Team (Admin-Features & Core-Logic)
/lib/features/admin/    @backend-dev
/lib/core/providers/    @backend-dev

# DevOps (Build-Skripte, CI/CD)
/.github/workflows/     @devops-engineer

# Dokumentation & Guidelines
/docs/Development_Guidelines.md @product-owner
/.github/PULL_REQUEST_TEMPLATE.md @product-owner
