Repository Wasgehtab97/tapem, changes with the owners that .github/CODEOWNERS names for each.
All owners: @frontend-dev1, @frontend-dev2, @backend-dev, @devops-engineer, @product-owner

.github/CODEOWNERS:

# CODEOWNERS: legt Reviewer f√ºr bestimmte Pfade fest

# Frontend-Team (UI-Komponenten)
/lib/features/ui/       @frontend-dev1 @frontend-dev2

# Backend-Team (Admin-Features & Core-Logic)
/lib/features/admin/    @backend-dev
/lib/core/providers/    @backend-dev

# DevOps (Build-Skripte, CI/CD)
/.github/workflows/     @devops-engineer

# Dokumentation & Guidelines
/docs/Development_Guidelines.md @product-owner
/.github/PULL_REQUEST_TEMPLATE.md @product-owner

Update Firestore security rules
  firestore.rules
Owners: none

Expand gym membership checks
  firestore.rules
Owners: none

fix(rules): allow gym lookup without auth
  firestore.rules
Owners: none

newest push
  Makefile
  lib/l10n/app_localizations.dart
  lib/l10n/app_localizations_de.dart
  lib/l10n/app_localizations_en.dart
Owners: none

Allow public read of gyms for code validation
  firestore.rules
Owners: none

fix firestore rules for user doc creation
  firestore.rules
Owners: none

allow initial gym membership creation
  firestore-tests/security_rules.test.js
  firestore.rules
Owners: none

Allow authenticated user to update profile
  firestore.rules
Owners: none

newest push
  lib/l10n/app_localizations.dart
  lib/l10n/app_localizations_de.dart
  lib/l10n/app_localizations_en.dart
Owners: none

fix(auth): log username update outcome
  firestore.rules
  lib/features/auth/presentation/widgets/username_dialog.dart
Owners: none

Allow reading usernames for availability checks
  firestore.rules
Owners: none

Relax log read permission
  firestore.rules
Owners: none

fix(rules): allow device read for signed users
  firestore.rules
  lib/core/providers/training_details_provider.dart
Owners: @backend-dev

relax exercise read
  firestore.rules
Owners: none

Allow gym admins to read device logs
  firestore.rules
Owners: none

refactor: add helper functions for Firestore rules
  firestore.rules
Owners: none

feat(rules): allow public exercise reads
  firestore.rules
Owners: none

feat(training_details): add detailed firestore debug logs
  lib/features/training_details/data/repositories/session_repository_impl.dart
  lib/features/training_details/data/sources/firestore_session_source.dart
Owners: none

fix: add missing debugPrint imports
  lib/features/training_details/data/repositories/session_repository_impl.dart
  lib/features/training_details/data/sources/firestore_session_source.dart
Owners: none

Allow users to read their own logs across gyms
  firestore.rules
Owners: none

Add dev Firestore rules and deployment config
  Makefile
  firebase.dev.json
  firestore-dev.rules
Owners: none

newest push
  lib/l10n/app_localizations.dart
  lib/l10n/app_localizations_de.dart
  lib/l10n/app_localizations_en.dart
Owners: none

newest push
  lib/features/auth/presentation/widgets/username_dialog.dart
  lib/features/training_details/data/repositories/session_repository_impl.dart
  lib/features/training_details/data/sources/firestore_session_source.dart
  lib/l10n/app_localizations.dart
  lib/l10n/app_localizations_de.dart
  lib/l10n/app_localizations_en.dart
Owners: none

test(providers): add basic unit and widget tests
  pubspec.yaml
  test/providers/branding_provider_test.dart
  test/providers/device_provider_test.dart
  test/providers/feedback_provider_test.dart
  test/providers/survey_provider_test.dart
  test/widgets/report_screen_test.dart
Owners: none

chore: update fake cloud firestore
  pubspec.yaml
Owners: none

fix: resolve analyze errors in tests
  test/providers/device_provider_test.dart
  test/widgets/report_screen_test.dart
Owners: none

newest push
  lib/l10n/app_localizations.dart
  lib/l10n/app_localizations_de.dart
  lib/l10n/app_localizations_en.dart
  pubspec.lock
Owners: none

fix: avoid firebase init in branding tests
  test/providers/branding_provider_test.dart
Owners: none

fix(branding): reduce error logging noise
  lib/core/providers/branding_provider.dart
Owners: @backend-dev

Refactor providers for DI logging and add Firebase-mocked tests
  .github/workflows/test-and-coverage.yml
  lib/core/providers/branding_provider.dart
  lib/core/providers/device_provider.dart
  lib/features/feedback/feedback_provider.dart
  pubspec.yaml
  test/firebase_test_utils.dart
  test/providers/branding_provider_test.dart
  test/providers/device_provider_test.dart
  test/providers/feedback_provider_test.dart
  test/providers/survey_provider_test.dart
  test/widgets/report_screen_test.dart
Owners: @devops-engineer, @backend-dev

refactor(providers): inject firestore and simplify firebase setup
  lib/core/providers/device_provider.dart
  lib/features/device/data/sources/firestore_device_source.dart
  lib/features/device/data/sources/firestore_exercise_source.dart
  lib/features/feedback/feedback_provider.dart
  lib/features/gym/data/sources/firestore_gym_source.dart
  lib/features/survey/survey_provider.dart
  pubspec.yaml
  test/firebase_test_utils.dart
  test/providers/branding_provider_test.dart
  test/providers/device_provider_test.dart
  test/providers/feedback_provider_test.dart
  test/providers/survey_provider_test.dart
  test/widgets/report_screen_test.dart
Owners: @backend-dev

Add CI coverage guard
  .github/workflows/coverage.yml
  lib/core/providers/branding_provider.dart
  lib/core/providers/device_provider.dart
  lib/features/feedback/feedback_provider.dart
  lib/features/survey/survey_provider.dart
  lib/main.dart
  test/firebase_test_utils.dart
  test/providers/branding_provider_test.dart
  test/providers/device_provider_test.dart
  test/providers/feedback_provider_test.dart
  test/providers/survey_provider_test.dart
  test/widgets/report_screen_test.dart
Owners: @devops-engineer, @backend-dev

test: extend providers and widget coverage
  test/providers/feedback_provider_test.dart
  test/providers/survey_provider_test.dart
  test/test_utils.dart
  test/widgets/report_screen_test.dart
Owners: none

test: add coverage for xp, rank and challenge providers
  test/providers/challenge_provider_additional_test.dart
  test/providers/rank_provider_test.dart
  test/providers/xp_provider_test.dart
  test/usecases/report_usecases_test.dart
Owners: none

newest push
  Makefile
  docs/ToDos/chatbot und trainingfeedback.pdf
  pubspec.lock
Owners: none

newest push
  docs/Roadmap GPT5/09_08.pdf
  docs/Roadmap GPT5/roadmap_gpt5.pdf
  docs/StiPS/eckdaten.png
  docs/StiPS/factsheet-2567528795.pdf
  docs/StiPS/gesellschaftliche_herausforderung.png
  docs/StiPS/gesellschaftliche_wirkung.png
  docs/StiPS/mittel_und_langfristige_weiterentwicklung.png
  docs/StiPS/soziale_innovation.png
  docs/StiPS/umsetzungsschritte.png
Owners: none

chore: add gitleaks and backlog scaffolding
  .env.dev
  .env.prod
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/labels.json
  .github/workflows/gitleaks.yml
  .gitignore
  .gitleaks.toml
  GoogleService-Info.example.plist
  README.md
  SECURITY_REPORT.md
  android/app/src/debug/google-services.json
  docs/environment-setup.md
  docs/secrets-policy.md
  google-services.example.json
  project/roadmap/issues_pilot.json
  scripts/create_issues.py
Owners: @devops-engineer

newest push
  Makefile
Owners: none

newest push
  .gitignore
Owners: none

chore(security): ignore scripts/*.json; add example stubs
  .gitignore
  scripts/23_05.example.json
  scripts/24_05_gym02.example.json
  scripts/admin.example.json
Owners: none
