Repository Wasgehtab97/tapem, changes with the owners that .github/CODEOWNERS names for each.
All owners: @frontend-dev1, @frontend-dev2, @backend-dev, @devops-engineer, @product-owner

Handle Windows keystore paths on non-Windows hosts
  android/app/build.gradle.kts
Owners: none

Ensure device drafts persist when reloading
  lib/core/providers/device_provider.dart
Owners: @backend-dev

Optimize device and profile loading latency
  lib/core/providers/device_provider.dart
  lib/core/providers/profile_provider.dart
Owners: @backend-dev

Navigate to next field after duplicating value
  lib/ui/numeric_keypad/overlay_numeric_keypad.dart
Owners: none

Refine admin dashboard layout and device UX
  lib/features/admin/presentation/screens/admin_dashboard_screen.dart
  lib/features/admin/presentation/widgets/device_list_item.dart
Owners: @backend-dev

Fix admin dashboard logging call
  lib/features/admin/presentation/screens/admin_dashboard_screen.dart
Owners: @backend-dev

Add split-day configuration and simplify training plan editor
  lib/core/providers/training_plan_provider.dart
  lib/features/training_plan/data/dtos/training_plan_dto.dart
  lib/features/training_plan/domain/models/exercise_entry.dart
  lib/features/training_plan/domain/models/training_plan.dart
  lib/features/training_plan/presentation/screens/import_plan_screen.dart
  lib/features/training_plan/presentation/screens/plan_editor_screen.dart
  lib/features/training_plan/presentation/screens/plan_overview_screen.dart
  lib/features/training_plan/presentation/widgets/device_selection_dialog.dart
Owners: @backend-dev

Refactor training plan feature to remove calendar weeks
  lib/core/providers/training_plan_provider.dart
  lib/features/training_plan/data/dtos/training_plan_dto.dart
  lib/features/training_plan/data/repositories/training_plan_repository_impl.dart
  lib/features/training_plan/data/sources/firestore_training_plan_source.dart
  lib/features/training_plan/domain/models/day_entry.dart
  lib/features/training_plan/domain/models/split_day.dart
  lib/features/training_plan/domain/models/training_plan.dart
  lib/features/training_plan/domain/models/week_block.dart
  lib/features/training_plan/domain/repositories/training_plan_repository.dart
  lib/features/training_plan/presentation/screens/import_plan_screen.dart
  lib/features/training_plan/presentation/screens/plan_editor_screen.dart
  lib/features/training_plan/presentation/screens/plan_overview_screen.dart
Owners: @backend-dev

feat: add friend chat experience
  firestore.rules
  lib/app_router.dart
  lib/features/friends/data/friend_chat_api.dart
  lib/features/friends/data/friend_chat_source.dart
  lib/features/friends/domain/models/friend_chat_summary.dart
  lib/features/friends/domain/models/friend_message.dart
  lib/features/friends/domain/utils/friend_chat_id.dart
  lib/features/friends/presentation/screens/friend_chat_screen.dart
  lib/features/friends/presentation/screens/friends_home_screen.dart
  lib/features/friends/providers/friend_chat_summary_provider.dart
  lib/features/profile/presentation/screens/profile_screen.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_localizations.dart
  lib/l10n/app_localizations_de.dart
  lib/l10n/app_localizations_en.dart
  lib/main.dart
Owners: none

Allow friends to update chat summaries
  firestore-tests/security_rules.test.js
  firestore.rules
Owners: none

Allow chat summary updates to keep members field
  firestore.rules
Owners: none

Add debug logging for friend chat message flow
  lib/features/friends/data/friend_chat_api.dart
  lib/features/friends/presentation/screens/friend_chat_screen.dart
Owners: none

Fix friend chat conversation updates
  firestore-tests/security_rules.test.js
  firestore.rules
Owners: none

Allow server timestamps in friend chat rules
  firestore.rules
Owners: none

Handle existing friend conversations without rewriting members
  lib/features/friends/data/friend_chat_api.dart
Owners: none

Open avatar inventory from profile card avatar
  lib/features/friends/presentation/widgets/friend_list_tile.dart
  lib/features/profile/presentation/screens/profile_screen.dart
  lib/features/xp/presentation/widgets/daily_xp_card.dart
Owners: none

Add session story popup and sharing after training day completion
  lib/core/services/workout_session_duration_service.dart
  lib/features/session_story/data/session_story_service.dart
  lib/features/session_story/domain/models/session_story.dart
  lib/features/session_story/presentation/dialogs/session_story_dialog.dart
  lib/features/session_story/presentation/utils/session_story_share.dart
  lib/features/session_story/presentation/widgets/session_story_card.dart
  lib/features/session_story/presentation/widgets/session_story_popup_listener.dart
  lib/features/session_story/providers/session_story_provider.dart
  lib/features/training_details/data/repositories/session_repository_impl.dart
  lib/features/training_details/domain/models/session.dart
  lib/features/training_details/presentation/screens/training_details_screen.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_localizations.dart
  lib/l10n/app_localizations_de.dart
  lib/l10n/app_localizations_en.dart
  lib/main.dart
  pubspec.yaml
  test/core/services/workout_session_duration_service_test.dart
  test/widgets/day_sessions_overview_test.dart
Owners: none

Fix session story card type safety and subtitle
  lib/features/session_story/presentation/widgets/session_story_card.dart
Owners: none

fix(session_story): retry story build and refresh training days
  lib/core/providers/profile_provider.dart
  lib/features/session_story/providers/session_story_provider.dart
  lib/main.dart
Owners: @backend-dev

feat(session): lifecycle and idle auto-close scaffolding
  .github/PULL_REQUEST_TEMPLATE.md
  .github/labels.json
  firestore.rules
  functions/__tests__/sessions.test.js
  functions/index.js
  functions/sessions.js
  lib/core/providers/device_provider.dart
  lib/core/services/workout_session_duration_service.dart
  lib/core/services/workout_timer_telemetry.dart
  test/core/services/workout_session_duration_service_test.dart
  thesis/gamification/2025-10-13_pr1_session_lifecycle.md
Owners: @product-owner, @backend-dev

feat(prs): detect first, e1rm, and volume prs
  firestore.rules
  functions/__tests__/prs.test.js
  functions/__tests__/sessions.test.js
  functions/index.js
  functions/prs.js
  functions/sessions.js
  thesis/gamification/2025-10-13_pr2_pr_detectors.md
Owners: none

feat(functions): add session xp accrual engine
  firestore-tests/security_rules.test.js
  firestore.rules
  functions/__tests__/prs.test.js
  functions/__tests__/xp_engine.test.js
  functions/data/exercise_muscles.json
  functions/prs.js
  functions/xp_engine.js
  thesis/gamification/2025-10-13_pr3_xp_engine.md
Owners: none

feat(storycard): finalize localization and sharing polish
  lib/features/story_card/data/exercise_muscle_map.dart
  lib/features/story_card/data/session_story_repository.dart
  lib/features/story_card/domain/session_story_data.dart
  lib/features/story_card/domain/session_xp_calculator.dart
  lib/features/story_card/presentation/session_story_listener.dart
  lib/features/story_card/presentation/widgets/session_story_card.dart
  lib/features/story_card/presentation/widgets/session_story_modal.dart
  lib/features/story_card/session_story_controller.dart
  lib/features/story_card/session_story_share_service.dart
  lib/features/story_card/story_link_builder.dart
  lib/features/training_details/presentation/screens/training_details_screen.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_localizations.dart
  lib/l10n/app_localizations_de.dart
  lib/l10n/app_localizations_en.dart
  lib/main.dart
  pubspec.yaml
  thesis/gamification/2025-10-13_pr4_story_card_ui_share.md
Owners: none

feat(story-timeline): session stories list + hardening, analytics & docs
  README.md
  firestore-tests/training_details_rules.test.js
  firestore.indexes.json
  firestore.rules
  functions/__tests__/prs.test.js
  functions/prs.js
  lib/app_router.dart
  lib/features/profile/presentation/screens/profile_screen.dart
  lib/features/story_card/data/story_analytics_service.dart
  lib/features/story_card/data/story_timeline_repository.dart
  lib/features/story_card/domain/story_timeline_entry.dart
  lib/features/story_card/domain/story_timeline_filter.dart
  lib/features/story_card/presentation/controllers/story_timeline_controller.dart
  lib/features/story_card/presentation/screens/story_timeline_screen.dart
  lib/features/story_card/presentation/session_story_listener.dart
  lib/features/story_card/session_story_share_service.dart
  lib/features/training_details/presentation/screens/training_details_screen.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_localizations.dart
  lib/l10n/app_localizations_de.dart
  lib/l10n/app_localizations_en.dart
  test/features/story_card/session_story_share_service_test.dart
  test/features/story_card/story_timeline_controller_test.dart
  thesis/gamification/2025-10-13_pr5_timeline_hardening_docs.md
Owners: none

Fix story card capture and parsing issues
  lib/features/story_card/domain/session_xp_calculator.dart
  lib/features/story_card/domain/story_timeline_entry.dart
  lib/features/story_card/session_story_share_service.dart
Owners: none

Fix story card loading and add diagnostics
  lib/core/providers/training_details_provider.dart
  lib/core/services/workout_session_duration_service.dart
  lib/features/story_card/presentation/session_story_listener.dart
  lib/features/story_card/session_story_controller.dart
  lib/features/training_details/presentation/screens/training_details_screen.dart
  lib/ui/timer/active_workout_timer.dart
Owners: @backend-dev

feat: show session story after timer save
  lib/core/services/workout_session_duration_service.dart
  lib/features/story_card/session_story_controller.dart
  lib/ui/timer/active_workout_timer.dart
Owners: none

Handle missing session story provider in timer
  lib/ui/timer/active_workout_timer.dart
Owners: none

Handle missing session story provider in timer
  lib/ui/timer/active_workout_timer.dart
Owners: none

Fix session story modal context
  lib/features/story_card/presentation/session_story_listener.dart
  lib/features/story_card/presentation/widgets/session_story_modal.dart
Owners: none

Refine session story card XP and sharing
  lib/features/story_card/data/session_story_repository.dart
  lib/features/story_card/presentation/screens/story_timeline_screen.dart
  lib/features/story_card/presentation/session_story_listener.dart
  lib/features/story_card/presentation/widgets/session_story_card.dart
  lib/features/story_card/presentation/widgets/session_story_modal.dart
  lib/features/training_details/presentation/screens/training_details_screen.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_localizations.dart
  lib/l10n/app_localizations_de.dart
  lib/l10n/app_localizations_en.dart
Owners: none

feat: show set data for e1rm story badges
  functions/__tests__/prs.test.js
  functions/prs.js
  lib/features/story_card/data/session_story_repository.dart
  lib/features/story_card/domain/session_story_data.dart
  lib/features/story_card/presentation/widgets/session_story_card.dart
Owners: none

Improve session story PR badges
  lib/features/story_card/data/session_story_repository.dart
  lib/features/story_card/domain/session_story_data.dart
  lib/features/story_card/presentation/widgets/session_story_card.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_localizations.dart
  lib/l10n/app_localizations_de.dart
  lib/l10n/app_localizations_en.dart
Owners: none

Expand timeline dropdown to avoid overflow
  lib/features/story_card/presentation/screens/story_timeline_screen.dart
Owners: none

Add session story overlay to profile
  lib/core/providers/profile_provider.dart
  lib/features/profile/presentation/providers/session_story_provider.dart
  lib/features/profile/presentation/screens/profile_screen.dart
  lib/features/profile/presentation/widgets/session_story_dialog.dart
  lib/features/training_details/data/repositories/session_repository_impl.dart
  lib/features/training_details/domain/models/session.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_localizations.dart
  lib/l10n/app_localizations_de.dart
  lib/l10n/app_localizations_en.dart
Owners: @backend-dev

Optimize session meta lookups and cache profile labels
  lib/core/providers/profile_provider.dart
  lib/features/profile/presentation/providers/session_story_provider.dart
  lib/features/training_details/data/repositories/session_repository_impl.dart
  lib/features/training_details/data/session_meta_source.dart
Owners: @backend-dev

Reduce Firestore reads for sessions and challenges
  lib/core/providers/profile_provider.dart
  lib/features/challenges/data/sources/firestore_challenge_source.dart
  lib/features/friends/providers/friend_calendar_provider.dart
Owners: @backend-dev

Handle permission denied when loading profile sessions
  lib/core/providers/profile_provider.dart
Owners: @backend-dev

Reduce redundant Firestore reads and clean up survey dispose
  lib/core/providers/training_plan_provider.dart
  lib/core/providers/xp_provider.dart
  lib/features/survey/presentation/screens/survey_vote_screen.dart
  lib/features/training_plan/presentation/screens/plan_overview_screen.dart
Owners: @backend-dev

Reduce Firestore read load via polling and caching
  lib/core/providers/xp_provider.dart
  lib/features/friends/providers/friend_presence_provider.dart
  lib/features/rank/data/sources/firestore_rank_source.dart
  lib/features/xp/data/repositories/xp_repository_impl.dart
  lib/features/xp/data/sources/firestore_xp_source.dart
  lib/features/xp/domain/xp_repository.dart
  test/providers/device_provider_test.dart
  test/providers/xp_provider_test.dart
Owners: @backend-dev

.github/CODEOWNERS:

# CODEOWNERS: legt Reviewer f√ºr bestimmte Pfade fest

# Frontend-Team (UI-Komponenten)
/lib/features/ui/       @frontend-dev1 @frontend-dev2

# Backend-Team (Admin-Features & Core-Logic)
/lib/features/admin/    @backend-dev
/lib/core/providers/    @backend-dev

# DevOps (Build-Skripte, CI/CD)
/.github/workflows/     @devops-engineer

# Dokumentation & Guidelines
/docs/Development_Guidelines.md @product-owner
/.github/PULL_REQUEST_TEMPLATE.md @product-owner
