Repository Wasgehtab97/tapem, changes with the owners that .github/CODEOWNERS names for each.
All owners: @frontend-dev1, @frontend-dev2, @backend-dev, @devops-engineer, @product-owner

.github/CODEOWNERS:

# CODEOWNERS: legt Reviewer f√ºr bestimmte Pfade fest

# Frontend-Team (UI-Komponenten)
/lib/features/ui/       @frontend-dev1 @frontend-dev2

# Backend-Team (Admin-Features & Core-Logic)
/lib/features/admin/    @backend-dev
/lib/core/providers/    @backend-dev

# DevOps (Build-Skripte, CI/CD)
/.github/workflows/     @devops-engineer

# Dokumentation & Guidelines
/docs/Development_Guidelines.md @product-owner
/.github/PULL_REQUEST_TEMPLATE.md @product-owner

docs(rank): clarify rank landing screen location
  lib/core/widgets/brand_action_tile.dart
  lib/features/rank/presentation/screens/rank_screen.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_localizations.dart
  lib/l10n/app_localizations_de.dart
  lib/l10n/app_localizations_en.dart
Owners: none

feat: add outlined variant for rank cards
  lib/core/widgets/brand_action_tile.dart
  lib/features/rank/presentation/screens/rank_screen.dart
  test/ui/rank_tiles_test.dart
Owners: none

feat(ui): unify action cards with gym outline style
  lib/core/widgets/brand_action_tile.dart
  lib/features/admin/presentation/screens/admin_dashboard_screen.dart
  lib/features/profile/presentation/screens/profile_screen.dart
  lib/features/rank/presentation/screens/rank_screen.dart
  lib/features/report/presentation/screens/report_screen_new.dart
Owners: @backend-dev

Reduce Umfragen card height and center text
  lib/core/widgets/brand_action_tile.dart
  lib/features/profile/presentation/screens/profile_screen.dart
Owners: none

feat(creatine): add creatine intake calendar
  firestore.rules
  lib/app_router.dart
  lib/features/creatine/data/creatine_repository.dart
  lib/features/creatine/presentation/screens/creatine_screen.dart
  lib/features/creatine/providers/creatine_provider.dart
  lib/features/profile/presentation/screens/profile_screen.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_localizations.dart
  lib/l10n/app_localizations_de.dart
  lib/l10n/app_localizations_en.dart
  lib/main.dart
  test/features/creatine/creatine_screen_test.dart
  test/providers/creatine_provider_test.dart
Owners: none

Guard creatine firestore paths and fix overlay
  lib/features/creatine/data/creatine_repository.dart
  lib/features/creatine/presentation/screens/creatine_screen.dart
  lib/features/creatine/providers/creatine_provider.dart
  test/features/creatine/creatine_screen_test.dart
  test/providers/creatine_provider_test.dart
Owners: none

feat(creatine): add popup and date guards
  lib/features/creatine/data/creatine_repository.dart
  lib/features/creatine/presentation/screens/creatine_screen.dart
  lib/features/creatine/providers/creatine_provider.dart
  lib/features/profile/presentation/widgets/calendar_popup.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_localizations.dart
  lib/l10n/app_localizations_de.dart
  lib/l10n/app_localizations_en.dart
  test/features/creatine/creatine_screen_test.dart
  test/providers/creatine_provider_test.dart
Owners: none

Restrict creatine interactions to today and yesterday
  lib/features/creatine/presentation/screens/creatine_screen.dart
  lib/features/creatine/providers/creatine_provider.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_localizations.dart
  lib/l10n/app_localizations_de.dart
  lib/l10n/app_localizations_en.dart
  pubspec.yaml
  test/features/creatine/creatine_screen_test.dart
  test/providers/creatine_provider_test.dart
Owners: none

feat(ui): move logout to profile and show global nfc
  lib/features/home/presentation/screens/home_screen.dart
  lib/features/profile/presentation/screens/profile_screen.dart
Owners: none

feat: add creatine tracker setting
  firestore.rules
  lib/core/providers/settings_provider.dart
  lib/features/creatine/presentation/screens/creatine_screen.dart
  lib/features/profile/presentation/screens/profile_screen.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_localizations.dart
  lib/l10n/app_localizations_de.dart
  lib/l10n/app_localizations_en.dart
  lib/main.dart
Owners: @backend-dev

feat(gym): track recent device usage
  lib/core/providers/device_provider.dart
  lib/core/recent_devices_store.dart
  lib/features/gym/presentation/screens/gym_screen.dart
  lib/ui/common/search_and_filters.dart
  test/ui/gym/search_and_filters_test.dart
Owners: @backend-dev

feat: add bodyweight mode and remove rir
  lib/core/drafts/session_draft.dart
  lib/core/providers/device_provider.dart
  lib/features/device/domain/models/device_session_snapshot.dart
  lib/features/device/presentation/models/session_set_vm.dart
  lib/features/device/presentation/screens/device_screen.dart
  lib/features/device/presentation/widgets/last_session_card.dart
  lib/features/device/presentation/widgets/read_only_snapshot_page.dart
  lib/features/device/presentation/widgets/set_card.dart
  lib/features/history/data/dtos/workout_log_dto.dart
  lib/features/history/data/dtos/workout_log_dto.g.dart
  lib/features/history/domain/models/workout_log.dart
  lib/features/history/presentation/screens/history_screen.dart
  lib/features/training_details/data/dtos/session_dto.dart
  lib/features/training_details/data/repositories/session_repository_impl.dart
  lib/features/training_details/domain/models/session.dart
  lib/features/training_details/presentation/widgets/session_exercise_card.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_localizations.dart
  lib/l10n/app_localizations_de.dart
  lib/l10n/app_localizations_en.dart
  test/features/device/domain/models/device_session_snapshot_test.dart
Owners: @backend-dev

fix: resolve analysis errors
  lib/features/device/presentation/widgets/set_card.dart
  test/features/creatine/creatine_screen_test.dart
Owners: none

test: cover friend presence and tile
  firestore.rules
  lib/core/providers/auth_provider.dart
  lib/features/auth/data/dtos/user_data_dto.dart
  lib/features/auth/data/repositories/auth_repository_impl.dart
  lib/features/auth/data/sources/firestore_auth_source.dart
  lib/features/auth/domain/models/user_data.dart
  lib/features/auth/domain/repositories/auth_repository.dart
  lib/features/auth/domain/usecases/set_avatar_key.dart
  lib/features/friends/data/user_search_source.dart
  lib/features/friends/domain/models/public_profile.dart
  lib/features/friends/presentation/screens/friends_home_screen.dart
  lib/features/friends/presentation/widgets/friend_list_tile.dart
  lib/features/friends/providers/friend_presence_provider.dart
  lib/features/profile/presentation/screens/profile_screen.dart
  lib/main.dart
  pubspec.yaml
  test/features/friends/presentation/widgets/friend_list_tile_test.dart
  test/features/friends/providers/friend_presence_provider_test.dart
Owners: @backend-dev

tests: add profile header layout and avatar tap tests
  lib/features/profile/presentation/screens/profile_screen.dart
  test/features/profile/profile_screen_test.dart
Owners: none

tests: ensure avatar in header and actions remain tappable
  lib/features/profile/presentation/screens/profile_screen.dart
  test/features/profile/profile_screen_test.dart
Owners: none

tests(profile): assert avatar in title, actions tappable, no username row
  lib/features/profile/presentation/screens/profile_screen.dart
  test/features/profile/profile_screen_test.dart
Owners: none

tests: multi-avatar picker shows images only and persists selection
  lib/core/providers/auth_provider.dart
  lib/core/utils/avatar_assets.dart
  lib/features/friends/presentation/widgets/friend_list_tile.dart
  lib/features/profile/presentation/screens/profile_screen.dart
  test/features/friends/presentation/widgets/friend_list_tile_test.dart
  test/features/profile/profile_screen_test.dart
Owners: @backend-dev

Include default avatar assets
  .gitignore
  assets/avatars/.gitkeep
  pubspec.yaml
Owners: none

avatars-v2: docs: document avatars v2 schema and flags
  README.md
  docs/avatars_v2.md
  docs/avatars_v2_rules_tests.md
  firestore.indexes.json
  firestore.rules
  lib/core/config/remote_config.dart
  lib/features/avatars/data/avatar_repository.dart
  lib/features/avatars/domain/models/avatar_catalog_item.dart
  lib/features/avatars/domain/models/avatar_owned.dart
  lib/features/avatars/domain/models/visible_avatar.dart
  lib/features/avatars/presentation/providers/avatar_catalog_provider.dart
Owners: none

avatars-v2: add inventory provider, equip service, mirror function
  docs/avatars_v2.md
  docs/avatars_v2_rules_tests.md
  firestore.rules
  functions/index.js
  lib/features/avatars/domain/avatars_v2_telemetry.dart
  lib/features/avatars/domain/services/avatar_equip_service.dart
  lib/features/avatars/presentation/providers/avatar_inventory_provider.dart
Owners: none

avatars-v2: add grant pipeline core and defaults
  docs/avatars_v2.md
  docs/avatars_v2_rules_tests.md
  functions/avatars.js
  functions/index.js
  lib/core/config/remote_config.dart
  lib/features/avatars/domain/avatars_v2_telemetry.dart
Owners: none

avatars-v2: add emulator test suites and CI hooks
  .github/workflows/ci.yml
  README.md
  docs/avatars_v2_rules_tests.md
  functions/package.json
  functions/test/avatars.test.js
  package.json
  tests/rules/run.js
Owners: @devops-engineer

avatars: add runtime catalog and unify asset resolution
  firestore.rules
  lib/core/utils/avatar_assets.dart
  lib/features/avatars/domain/services/avatar_catalog.dart
  lib/features/friends/presentation/widgets/friend_list_tile.dart
  lib/features/profile/presentation/screens/profile_screen.dart
  test/features/avatars/domain/services/avatar_catalog_test.dart
  test/features/friends/presentation/widgets/friend_list_tile_test.dart
  test/features/profile/profile_screen_test.dart
Owners: none

avatars: inventory provider and picker uses inventory
  firestore-tests/security_rules.test.js
  firestore.rules
  lib/features/avatars/presentation/providers/avatar_inventory_provider.dart
  lib/features/profile/presentation/screens/profile_screen.dart
  lib/main.dart
  test/features/profile/profile_screen_test.dart
Owners: none

firestore: tighten avatarInventory rules and add tests
  firestore.rules
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_localizations.dart
  lib/l10n/app_localizations_de.dart
  lib/l10n/app_localizations_en.dart
  tests/rules/run.js
Owners: none

admin(symbols): scaffold member and inventory screens
  lib/app_router.dart
  lib/features/admin/presentation/screens/admin_dashboard_screen.dart
  lib/features/admin/presentation/screens/admin_symbols_screen.dart
  lib/features/admin/presentation/screens/user_symbols_screen.dart
  test/features/admin/admin_symbols_screen_test.dart
  test/features/admin/user_symbols_screen_test.dart
Owners: @backend-dev

avatars(debug): asset healthcheck & resolver fallback; usernameLower robustness
  firestore-tests/security_rules.test.js
  firestore.rules
  lib/features/admin/presentation/screens/admin_symbols_screen.dart
  lib/features/admin/presentation/screens/user_symbols_screen.dart
  lib/features/avatars/domain/services/avatar_catalog.dart
  lib/features/friends/domain/models/public_profile.dart
  lib/features/friends/presentation/widgets/friend_list_tile.dart
  lib/features/profile/presentation/screens/profile_screen.dart
  lib/main.dart
  pubspec.yaml
  test/features/admin/admin_symbols_screen_test.dart
  test/features/avatars/domain/services/avatar_catalog_test.dart
  test/features/friends/domain/public_profile_test.dart
Owners: @backend-dev

ci/lint: prevent hardcoded avatar paths
  firestore.rules
  lib/features/admin/presentation/screens/admin_symbols_screen.dart
  lib/features/avatars/domain/services/avatar_catalog.dart
  lib/features/friends/domain/models/public_profile.dart
  lib/main.dart
  test/features/friends/domain/public_profile_test.dart
  tool/check_avatar_paths.sh
Owners: @backend-dev

feat: expand avatar inventory access
  firestore-tests/security_rules.test.js
  firestore.rules
  lib/features/admin/presentation/screens/user_symbols_screen.dart
  lib/features/avatars/domain/services/avatar_catalog.dart
  lib/l10n/app_de.arb
  lib/l10n/app_en.arb
  lib/l10n/app_localizations.dart
  lib/l10n/app_localizations_de.dart
  lib/l10n/app_localizations_en.dart
Owners: @backend-dev

fix(analysis): resolve analyzer errors
  lib/features/avatars/presentation/providers/avatar_catalog_provider.dart
  lib/features/friends/domain/models/public_profile.dart
  test/features/creatine/creatine_screen_test.dart
  test/features/profile/profile_screen_test.dart
Owners: none

refactor: unify avatar catalog and admin symbol flow
  firestore.rules
  lib/core/utils/avatar_assets.dart
  lib/features/admin/presentation/screens/admin_symbols_screen.dart
  lib/features/admin/presentation/screens/user_symbols_screen.dart
  lib/features/avatars/domain/services/avatar_catalog.dart
  lib/features/avatars/presentation/providers/avatar_inventory_provider.dart
  lib/features/friends/presentation/widgets/friend_list_tile.dart
  lib/features/profile/presentation/screens/profile_screen.dart
  lib/main.dart
  test/features/avatars/domain/services/avatar_catalog_test.dart
Owners: @backend-dev

fix(profile): resolve analyzer errors
  lib/features/profile/presentation/screens/profile_screen.dart
  lib/main.dart
  test/features/avatars/domain/services/avatar_catalog_test.dart
  test/features/friends/presentation/widgets/friend_list_tile_test.dart
Owners: none

newest push
  assets/avatars/Club Aktiv/kurzhantel.png
  assets/avatars/FitnessFirst MyZeil/kurzhantel.png
  assets/avatars/McFit Bälau/kurzhantel.png
  assets/avatars/MediFitness Rüsselsheim/kurzhantel.png
  assets/avatars/Unigym Essen/kurzhantel.png
  assets/avatars/global/default.png
  assets/avatars/global/default2.png
  assets/avatars/gym_01/kurzhantel.png
  lib/l10n/app_localizations.dart
  lib/l10n/app_localizations_de.dart
  lib/l10n/app_localizations_en.dart
  pubspec.lock
Owners: none

refactor: improve avatar catalog and rules
  firestore.rules
  lib/features/admin/presentation/screens/admin_symbols_screen.dart
  lib/features/avatars/domain/services/avatar_catalog.dart
  lib/features/friends/presentation/widgets/friend_list_tile.dart
  lib/features/profile/presentation/screens/profile_screen.dart
  lib/main.dart
  test/assets_manifest_defaults_test.dart
  test/features/avatars/domain/services/avatar_catalog_test.dart
  test/features/friends/presentation/widgets/friend_list_tile_test.dart
  test/features/profile/profile_screen_test.dart
Owners: @backend-dev

Import rootBundle for AvatarCatalog warm up
  lib/main.dart
Owners: none

fix: load avatars and allow admin assignment
  firestore.rules
  lib/features/admin/presentation/screens/user_symbols_screen.dart
  pubspec.yaml
  tests/rules/run.js
Owners: @backend-dev

feat: unify avatar key resolution
  lib/core/utils/avatar_assets.dart
  lib/features/admin/presentation/screens/admin_symbols_screen.dart
  lib/features/admin/presentation/screens/user_symbols_screen.dart
  lib/features/avatars/domain/services/avatar_catalog.dart
  lib/features/avatars/presentation/providers/avatar_inventory_provider.dart
  lib/features/friends/presentation/widgets/friend_list_tile.dart
  lib/features/profile/presentation/screens/profile_screen.dart
  test/features/avatars/domain/services/avatar_catalog_test.dart
  test/features/friends/presentation/widgets/friend_list_tile_test.dart
  test/features/profile/profile_screen_test.dart
Owners: @backend-dev

Handle missing avatar defaults and add braces in comparator
  lib/features/avatars/domain/services/avatar_catalog.dart
  lib/features/profile/presentation/screens/profile_screen.dart
Owners: none

fix: allow admins to manage symbols
  lib/features/admin/presentation/screens/admin_symbols_screen.dart
  lib/features/admin/presentation/screens/user_symbols_screen.dart
  test/features/admin/user_symbols_screen_test.dart
Owners: @backend-dev
