Repository Wasgehtab97/tapem, changes with the owners that .github/CODEOWNERS names for each.
All owners: @frontend-dev1, @frontend-dev2, @backend-dev, @devops-engineer, @product-owner

.github/CODEOWNERS:

# CODEOWNERS: legt Reviewer f√ºr bestimmte Pfade fest

# Frontend-Team (UI-Komponenten)
/lib/features/ui/       @frontend-dev1 @frontend-dev2

# Backend-Team (Admin-Features & Core-Logic)
/lib/features/admin/    @backend-dev
/lib/core/providers/    @backend-dev

# DevOps (Build-Skripte, CI/CD)
/.github/workflows/     @devops-engineer

# Dokumentation & Guidelines
/docs/Development_Guidelines.md @product-owner
/.github/PULL_REQUEST_TEMPLATE.md @product-owner

Adjust device page inputs and navigation styling
  lib/features/device/presentation/widgets/device_pager.dart
  lib/features/device/presentation/widgets/set_card.dart
Owners: none

Refine device pager controls and set input styling
  lib/features/device/presentation/widgets/device_pager.dart
  lib/features/device/presentation/widgets/set_card.dart
Owners: none

Adjust set card styling and device pager controls
  lib/features/device/presentation/screens/device_screen.dart
  lib/features/device/presentation/widgets/device_pager.dart
  lib/features/device/presentation/widgets/set_card.dart
Owners: none

Fix missing ValueListenable import in device pager
  lib/features/device/presentation/widgets/device_pager.dart
Owners: none

Adjust device screen navigation controls
  lib/features/device/presentation/screens/device_screen.dart
  lib/features/device/presentation/widgets/device_pager.dart
  lib/features/device/presentation/widgets/note_button_widget.dart
  lib/features/device/presentation/widgets/read_only_snapshot_page.dart
  lib/features/device/presentation/widgets/session_navigation_controls.dart
Owners: none

Fix training details gym context and badge scrollbar
  lib/app_router.dart
  lib/core/providers/training_details_provider.dart
  lib/features/friends/presentation/screens/friend_training_calendar_screen.dart
  lib/features/friends/providers/friend_calendar_provider.dart
  lib/features/profile/presentation/widgets/calendar_popup.dart
  lib/features/story_session/presentation/widgets/story_session_dialog.dart
  lib/features/training_details/data/repositories/session_repository_impl.dart
  lib/features/training_details/domain/models/session.dart
  lib/features/training_details/presentation/screens/training_details_screen.dart
Owners: @backend-dev

Fix friend training details metadata access and device names
  lib/core/providers/training_details_provider.dart
  lib/features/story_session/presentation/widgets/story_session_highlights_listener.dart
  lib/features/training_details/data/repositories/session_repository_impl.dart
  lib/features/training_details/domain/repositories/session_repository.dart
  lib/features/training_details/domain/usecases/get_sessions_for_date.dart
  lib/features/training_details/presentation/screens/training_details_screen.dart
Owners: @backend-dev

Fix friend training details labels
  lib/core/providers/training_details_provider.dart
Owners: @backend-dev

style: refresh session highlights popup
  lib/features/story_session/presentation/widgets/story_session_dialog.dart
Owners: none

Add subtle app logo background to profile screen
  lib/features/profile/presentation/screens/profile_screen.dart
Owners: none

Refactor muscle groups view to radar chart
  lib/features/muscle_group/presentation/screens/muscle_group_screen.dart
  lib/features/muscle_group/presentation/screens/muscle_group_screen_new.dart
  lib/features/muscle_group/presentation/widgets/interactive_svg_muscle_heatmap_widget.dart
  lib/features/muscle_group/presentation/widgets/mesh_3d_heatmap_widget.dart
  lib/features/muscle_group/presentation/widgets/muscle_group_radar_chart.dart
Owners: none

Replace XP overview with muscle group screen
  lib/features/xp/presentation/screens/xp_overview_screen.dart
Owners: none

Remove legacy muscle group page and integrate ranking muscle level
  lib/app_router.dart
  lib/features/device/presentation/screens/device_screen.dart
  lib/features/home/presentation/screens/home_screen.dart
  lib/features/muscle_group/presentation/screens/muscle_group_screen_new.dart
  lib/features/rank/presentation/screens/rank_screen.dart
  lib/features/rank/presentation/widgets/rank_muscle_level_section.dart
  lib/features/rank/presentation/widgets/xp_info_button.dart
  lib/features/xp/presentation/screens/xp_overview_screen.dart
Owners: none

Remove standalone muscle groups tab
  lib/app_router.dart
  lib/features/home/presentation/screens/home_screen.dart
Owners: none

Enhance muscle group levels visualization
  lib/features/muscle_group/presentation/screens/muscle_group_screen_new.dart
Owners: none

Improve gym muscle filter UX
  lib/ui/common/search_and_filters.dart
Owners: none

Fix analyzer violations across providers and tests
  lib/core/providers/device_provider.dart
  lib/core/providers/muscle_group_provider.dart
  lib/core/providers/profile_provider.dart
  lib/core/theme/brand_theme_preset.dart
  lib/features/muscle_group/presentation/screens/muscle_group_screen_new.dart
  lib/features/report/presentation/widgets/device_usage_chart.dart
  lib/features/story_session/presentation/widgets/story_session_dialog.dart
  lib/features/story_session/presentation/widgets/story_session_highlights_listener.dart
  lib/features/story_session/story_session_service.dart
  lib/features/xp/presentation/screens/day_xp_screen.dart
  lib/features/xp/presentation/screens/leaderboard_screen.dart
  lib/ui/numeric_keypad/overlay_numeric_keypad.dart
  test/features/auth/data/sources/firestore_auth_source_test.dart
  test/features/profile/profile_screen_test.dart
  test/features/story_session/story_session_service_test.dart
  test/providers/device_provider_test.dart
  test/providers/xp_provider_test.dart
  test/widgets/day_sessions_overview_test.dart
Owners: @backend-dev

Fix collection equality usage and remove unused variable
  lib/core/providers/device_provider.dart
  lib/features/story_session/story_session_service.dart
Owners: @backend-dev

Enable year navigation in training calendar popup
  lib/features/profile/presentation/widgets/calendar_popup.dart
Owners: none

Enable year navigation in training calendar popup
  lib/features/profile/presentation/widgets/calendar.dart
  lib/features/profile/presentation/widgets/calendar_popup.dart
Owners: none

Soften muscle group chips on device cards
  lib/features/device/presentation/widgets/muscle_chips.dart
Owners: none

Tonen muscle chips styling
  lib/features/device/presentation/widgets/muscle_chips.dart
Owners: none

Add training day XP engine with ledger tests
  lib/features/xp/domain/training_day_xp_engine.dart
  test/features/xp/domain/training_day_xp_engine_test.dart
Owners: none

Implement training day XP engine integration
  lib/core/providers/device_provider.dart
  lib/core/providers/xp_provider.dart
  lib/core/storage/daily_stats_cache_store.dart
  lib/features/xp/data/repositories/xp_repository_impl.dart
  lib/features/xp/data/sources/firestore_xp_source.dart
  lib/features/xp/domain/session_xp_award.dart
  lib/features/xp/domain/xp_repository.dart
  test/providers/device_provider_test.dart
  test/providers/xp_provider_test.dart
Owners: @backend-dev

Fix XP engine normalization errors
  lib/features/xp/domain/training_day_xp_engine.dart
  test/providers/xp_provider_test.dart
Owners: none

Use ChangeNotifierProvider for overlay keypad test
  test/widgets/dismissible_session_list_test.dart
Owners: none

Add localization to read-only snapshot page widget test
  test/widgets/read_only_snapshot_page_test.dart
Owners: none

Add localization setup to report screen widget tests
  test/widgets/report_screen_test.dart
Owners: none

Add fake membership service for muscle group provider test
  test/widgets/exercise_bottom_sheet_selected_preview_test.dart
Owners: none

Fix widget tests requiring providers and theme
  test/widgets/dismissible_session_list_test.dart
  test/widgets/exercise_bottom_sheet_selected_preview_test.dart
  test/widgets/read_only_snapshot_page_test.dart
Owners: none

Fix widget tests for material context and interactions
  test/widgets/dismissible_session_list_test.dart
  test/widgets/exercise_bottom_sheet_selected_preview_test.dart
  test/widgets/read_only_snapshot_page_test.dart
Owners: none

Fix widget tests theme setup and dismissal gesture
  test/widgets/dismissible_session_list_test.dart
  test/widgets/exercise_bottom_sheet_selected_preview_test.dart
Owners: none

Fix widget tests by isolating Firebase and improving UI
  lib/features/device/presentation/widgets/exercise_bottom_sheet.dart
  lib/features/device/presentation/widgets/last_session_card.dart
  test/widgets/muscle_group_list_selector_test.dart
Owners: none

Fix theme loader tests and localizations helpers
  lib/core/widgets/brand_outline.dart
  lib/l10n/app_localizations.dart
  test/theme/theme_loader_test.dart
Owners: none

Fix theme loader tests and localization fallback
  lib/core/widgets/brand_outline.dart
  lib/features/training_details/presentation/widgets/session_exercise_card.dart
  lib/l10n/app_localizations.dart
  test/theme/theme_loader_test.dart
Owners: none

Fix AppLocalizations lookup usage
  lib/features/device/presentation/widgets/last_session_card.dart
  lib/features/training_details/presentation/widgets/session_exercise_card.dart
Owners: none

Stabilize widget tests and harden theme fallbacks
  lib/core/theme/theme.dart
  lib/core/theme/theme_loader.dart
  lib/features/device/presentation/widgets/session_navigation_controls.dart
  test/widgets/device_pager_test.dart
  test/widgets/dismissible_session_list_test.dart
  test/widgets/muscle_group_list_selector_test.dart
  test/widgets/muscle_group_selector_test.dart
  test/widgets/set_card_test.dart
Owners: none

fix: stabilise theme loader and widget tests
  lib/core/theme/design_tokens.dart
  lib/core/theme/theme.dart
  test/widgets/device_pager_test.dart
  test/widgets/dismissible_session_list_test.dart
  test/widgets/muscle_group_selector_test.dart
  test/widgets/set_card_test.dart
Owners: none

Pin CI workflows to Flutter 3.32.8
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/ios_testflight.yml
Owners: @devops-engineer

Fix avatar fallbacks and stabilize tests
  lib/features/avatars/domain/services/avatar_catalog.dart
  lib/features/avatars/presentation/providers/avatar_inventory_provider.dart
  lib/features/creatine/presentation/screens/creatine_screen.dart
  test/features/avatars/domain/services/avatar_catalog_test.dart
  test/features/creatine/creatine_screen_test.dart
  test/features/xp/domain/training_day_xp_engine_test.dart
  test/theme/theme_loader_test.dart
Owners: none
